h1{
  font-size: 24px;
}

.product-wrapper{
  display: flex;
  gap: 30px;
}
.product-description{
  display: flex;
  flex-direction: column;
}
.product-item-pic{
  img{
    width: 100px;
  }
}
.product-page{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 32px;
  padding-right: 32px;
  .main-btn{
    height: 20px;
    margin: 10px auto;
  }
}