h1{
  font-size: 24px;
}

.product-wrapper{
  display: flex;
  gap: 30px;
  @media(max-width: 767px){
    flex-direction: column;
  }
}
.product-description{
  display: flex;
  flex-direction: column;
}
.product-item-pic{
  img{
    width: 100px;
    @media(max-width: 767px){
      display: block;
      margin: 0 auto 20px auto  ;
    }
  }
}
.product-page{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 32px;
  padding-right: 32px;
  @media(max-width: 767px){
    margin-top: -30px;
    padding-left: 0;
    padding-right: 0;
  }
  .main-btn{
    height: 20px;
    margin: 10px auto;
  }
}